<header>
    {{entity.compositeKey}}
</header>
<fieldset>
    <div class="row">
        <section class="col col-6">
            <label class="label">Num</label>
            <h2>{{ entity.num}}</h2>
        </section>
        <section class="col col-6">
            <label class="label">Parent</label>
            <h2>{{ entity.parent.name}}</h2>
        </section>
    </div>
    <section class="col-12">
        <label class="label">Title <span class="txt-color-red">*</span></label>
        <label class="input" ng-class="{'state-error':!entity.name.length}">
            <input type="text" name="title" class="input-lg" placeholder="Title" data-ng-model="entity.name" required ng-disabled="!allowEdit">
        </label>
        <div class="note note-error" ng-show="!entity.name.length">
            This is a required field.
        </div>
    </section>
    <section>
        <label class="label">Copyright</label>
        <label class="input">
            <input type="text" class="input-lg" placeholder="Copyright" data-ng-model="entity.copyright" ng-disabled="!allowEdit">
        </label>
    </section>
    <div class="row">
        <section class="col col-6">
            <label class="label">Creator</label>
            <label class="select">
                <select class="input-lg" ng-model="entity.creator" ng-options="user.name for user in users track by user.compositeKey" ng-disabled="!allowEdit"></select>
            </label>
        </section>
        <section class="col col-6">
            <label class="label">Creator Org</label>
            <label class="input">
                <input type="text" class="input-lg" placeholder="Creator Org" data-ng-model="entity.creatorOrg" ng-disabled="!allowEdit">
            </label>
        </section>
    </div>
    <section class="col-12">
        <label class="label">Date Taken</label>
        <label class="input">
            <input type="date" class="input-lg form-control" placeholder="Date Taken" rows="4" data-ng-model="entity.dateTaken" ng-disabled="!allowEdit">
        </label>
    </section>
    <section class="col-12">
        <label class="label">Disposition</label>
        <label class="textarea">
            <textarea class="form-control input-lg" placeholder="Disposition" rows="4" data-ng-model="entity.disposition" ng-disabled="!allowEdit"></textarea>
        </label>
    </section>
    <section class="col-12">
        <label class="label">Description</label>
        <label class="textarea">
            <textarea class="form-control input-lg" placeholder="Description" rows="4" data-ng-model="entity.description" ng-disabled="!allowEdit"></textarea>
        </label>
    </section>
    <div class="row">
        <section class="col col-6">
            <label class="label">File Format</label>
            <label class="input">
                <input type="text" class="input-lg" placeholder="File Format" data-ng-model="entity.fileFormat" ng-disabled="!allowEdit">
            </label>
        </section>
        <section class="col col-6">
            <label class="label">Record Identifier</label>
            <label class="input">
                <input type="text" class="input-lg" placeholder="Record Identifier" data-ng-model="entity.recordId" ng-disabled="!allowEdit">
            </label>
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            <label class="label">Location</label>
            <label class="input">
                <input type="text" class="input-lg" placeholder="Location" data-ng-model="entity.location" ng-disabled="!allowEdit">
            </label>
        </section>
        <section class="col col-6">
            <label class="label">Media Type</label>
            <label class="input">
                <input type="text" class="input-lg" placeholder="Media Type" data-ng-model="entity.mediaType" ng-disabled="!allowEdit">
            </label>
        </section>
    </div>
    <section class="col-12">
        <label class="label">Use Restriction</label>
        <label class="textarea">
            <textarea class="form-control input-lg" placeholder="Use Restriction" rows="4" data-ng-model="entity.useRestriction" ng-disabled="!allowEdit"></textarea>
        </label>
    </section>
    <div class="row">
        <section class="col col-6">
            <label class="label">Status<span class="txt-color-red">*</span></label>
            <label class="select" ng-class="{'state-error':!entity.status}">
                <select name="status" class="input-lg" ng-model="entity.status" ng-options="status.name for status in statuses track by status.id" required ng-disabled="!allowEdit"></select>
                <i></i>
            </label>
            <div class="note note-error" ng-show="!entity.status">
                This is a required field.
            </div>
        </section>
        <section class="col col-6">
            <label class="label">Position</label>
            <label class="input">
                <input type="number" class="input-lg" placeholder="Position" data-ng-model="entity.position" required ng-disabled="!allowEdit">
            </label>
        </section>
    </div>
</fieldset>
