<img ng-if="reply.author.avatar == null" ng-src="{{reply.author.genericImageUrl}}" alt="{{reply.author.name}}" width="25" class=" online">
<img ng-if="reply.author.avatar != null" ng-src="{{reply.author.avatar.smallImageUrl}}" alt="{{reply.author.name}}" width="25" class=" online" />

<div class="message-text">
    <a href-void class="username">{{reply.author.name}}</a>
    {{reply.text}}
    <br />
    <ul class="list-inline font-xs">
        <li>
            <a href-void class="text-muted">{{reply.timeSince}} </a>
        </li>
        <li>
            <a href-void class="text-danger"><i class="fa fa-thumbs-up"></i> Like</a>
        </li>
    </ul>

</div>
