<div id="content">
    <section id="projects" class="mainbar">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-user fa-fw "></i> Admin <span>
                &gt;
                {{ vm.title}}
            </span>
        </h1>
        <div class="well">
            <div class="row">
                <p>
                    This page allow you to search and edit users.
                </p>
                <form class="smart-form ng-pristine ng-valid">
                    <footer>
                        <a class="btn btn-default btn-lg pull-right" role="button" ng-click="vm.importUsers()" data-dismiss="modal">{{vm.userImport.buttonText}}</a>
                        <a class="btn btn-primary btn-lg pull-right" role="button" ng-click="vm.newUser()" data-dismiss="modal">New User</a>
                    </footer>
                </form>
            </div>
        </div>

        <div jarvis-widget id="hide-show-columns-table-widget" data-widget-color="blueDark" data-widget-editbutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Users </h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-selection ui-grid-reseize-columns class="myGrid"></div>
                </div>
            </div>
        </div>

    </section>
</div>